h1 {
    background-color: #f18d5f;
    color: white;
    width: 50%;
    padding: 50px;
    margin: 1em;
    border: 10px solid #f36c36;
    box-shadow: 10px 10px rgb(243, 83, 55);
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    padding: 1rem;
    background-color: lightsalmon;
    display: flex;
    justify-content: space-around;
}
footer img {
    width: 3%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #242457;
    color: white;
    padding: 3rem;
}
.flex-main {   
    display: flex; 
    background-color: #F5F5F5;
    width: 100%;
    padding-right: 2.5rem;
}