/* h1 {
    background-image: linear-gradient(to top left, rgb(240, 68, 16), rgb(241, 238, 18));
    color: black;
    width: 25%;
    padding: 50px;
    margin: 1em auto;
    border: 10px; 
    border-image: linear-gradient(to top left, rgb(220, 68, 16), rgb(221, 238, 18)) 1;
    box-shadow: 3px 3px rgb(240, 68, 16), 
    6px 6px rgb(230, 68, 16), 
    9px 9px rgb(220, 68, 16);
    display: flex;
    justify-content: center;
} */

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapertag.com/wallpaper/full/a/3/c/139761-yellow-backgrounds-1920x1080-high-resolution.jpg');
    background-size: cover;
    opacity: 0.5; 
    z-index: -1;
  }
  
  body {
    position: relative; 
    top: 75px;
  }

.footer {
    position: fixed;
    text-align: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 1rem;
    background-image: linear-gradient(to bottom right, rgb(240, 68, 16), rgb(241, 238, 18));
    /* display: flex; */
    justify-content: space-around;
}
footer img {
    width: 50px;
    height: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #242457;
    color: white;
    padding: 3rem;
}

.navbar{
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    display: flex; /* This will align .nav-item elements in a row */
    padding: 0; /* Resets default padding */
}

.nav-item {
    padding: 5px; 
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.image-container{
    height: 360px;
    width: 1750px;
    /* background-color: #505FF9; */
    margin: 3rem;
    color: black;
    border: solid black 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-containerAM{
    height: 350px;
    width: 500px;
    /* background-color: #505FF9; */
    margin: 3rem;
    margin-bottom: 0rem;
    color: black;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text-containerAM{
    height: 100px;
    width: 500px;
    /* background-color: #505FF9; */
    margin: 3rem;
    margin-top: 0px;
    color: black;
    border: clear 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .container {
    display: flex;
    
} */

.header {
    width: 100%;
    text-align: center; 
}

.bottom-bar {
    position: fixed;
    width: 100%;
    top: 0px;
    height: 75px;
    padding: 10px; 
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom right, rgb(240, 68, 16), rgb(241, 238, 18));
}

.bio-image{
    height: 360px
    width 600px;
}

h6{
    font-family: fantasy;
    font-size: xx-large;
}



/*this is the lightbulb code
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } html { font-family: sans-serif; }

* {
    font-family: 'IBM Plex Sans', sans-serif;
}*/

/*body {
    background-color: black;
}
*/

#wrapper {
    width: 90vw;
    max-width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 0;
    min-height: 80vh;
}

.row {
    padding-top: 15px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    text-align: center;
    background-color: black;
    padding: 10px;
    margin: 20px;
    transition: 0.2s;
}

.lightbulb {
    font-size: 8vw;
}

.active {
    background: white;
    transform: scale(1.1);
    box-shadow: 0 0 35px white;
}

.title, .subtitle, .subsubtitle {
    color: black;
    text-align: center;
}

.title {
    font-size: 4em;
}

.subtitle {
    font-size: 2em;
}

.reset {
    display: block;
    margin: 0 auto;
}

.dropdown {
    float: right;
    right: 30px;
    position: relative;
}

.menu {
    position: absolute;
    right: 10px;
    display: inline-block;
    cursor: pointer;
    flex-direction: column;
    align-items: right;
    justify-content: flex-end;
}

.bar1, .bar2, .bar3, .bar4 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.dropdown-content {
    /* display: none;
    position: absolute; */
    top: 40px;
    right: 10px;
    background-color: #fdefb0;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 10px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #f39213;
  }

  .headerText {
    font-size: 50px;
    font-family: Times, serif;
    position: absolute;
    left: 5%;
  }

  .bio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.bio-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bio-image-container img {
    max-width: 100%;
    height: auto;
    margin: 10px 0; /* Adjust the space between the image and the text */
}

.bio-main-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}

.experience-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px; 
}

.experience-image-container {
    width: 80%; 
    margin: 20px 0;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.choices{
    display: flex;     
    flex-direction: row;     
    align-items: center;    
    justify-content: center; 
}

.choices button{
    font-size: 6rem;
    min-width: 200px;
    min-height: 200px;
    border-radius: 100px;
    cursor: pointer;   
    background-color: #f39213;  
    transition: background-color 0.5s, ease
}

.choices button:hover {
    background-color: #f35a13;
}

.scoreDisplay {
    font-size: 2rem;
    text-align: center;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#countButtonMain{
    text-align: center;
}

#countButtonExtra{
    text-align: center;
}

#countButtonRandom{
    text-align: center;
}

.countButtonMain{
    padding: 10px 33.3px;
    font-size: 1.5em;
    background-color: #eeab47 ;
}
.countButtonExtra{
    padding: 10px 22.4px;
    font-size: 1.5em;
    background-color: #eeab47 ;
}
.countButtonRandom{
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #eeab47 ;
}
.countButtonExtra, .countButtonMain, .countButtonRandom{
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.countButtonRandom:hover{
    background-color: #f35a13;
}
.countButtonExtra:hover{
    background-color: #f35a13;
}
.countButtonMain:hover{
    background-color: #f35a13;
}

#diceLabel{
    display: block;
    text-align: center;
    font-size: 5em;
    font-family: Helvetica, sans-serif;
}

#howmanydice{
    text-align: center;
}

.howmanydice{
    height: 150px;
    width: 150px;
    border-radius: 25px;
    font-size: 1.5em;
    background-color: #eeab47 ;
    cursor: pointer;
    transition: background-color 0.25s;
}

.howmanydice:hover{
    background-color: #f35a13;
}

#diceLabel2{
    display: block;
    text-align: center;
    font-size: 4em;
    font-family: Helvetica, sans-serif;
}

.diceResult{
    display: flex;
    justify-content: center;
}

#dice1, #dice2, #dice3, #dice4, #dice5{ 
    height: 150px;
    width: 150px;
}

.eightballbuttons{
    text-align: center;
}

.eightballbutton{
    position: relative;
    height: 200px;
    width: 300px;
    font-size: 3em;
    border-radius: 125px;
    background-color: #eeab47;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
}

.eightballbutton img {
    display: none;
    position: absolute;

}

.eightballbutton:hover img{
    display: block;
    border-radius: 125px;
}

#eightballresult {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.eightballresult{
    max-width: 40%;
    padding: 25px;
    text-align: center;
}

.temperaturebody{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(40, 30%, 96%);
}

.temperatureh1{
    color: #242457;
}

.temperatureform{
    background-color:  hsl(49, 94%, 67%);
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px hsl(39, 92%, 65%);
}

#temperaturetextbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 5px; 
    border-radius: 5px;
    margin-bottom: 25px;
}

.temperaturelabel{
    font-size: 1.5em;
    font-weight: bold;
}

.temperaturebutton{
    margin-top: 25px;
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: 5px 5px 15px hsl(39, 92%, 65%);
    cursor: pointer;
    border: none;
    padding: 10px 15px;
}

#temperatureresult{
    font-size: 1.7em;
    font-weight: bold;
}