h1 {
    background-color: #f1ef5f;
    color: black;
    width: 25%;
    padding: 50px;
    margin: 1em auto;
    border: 10px solid #f1ac16;
    box-shadow: 10px 10px rgb(238, 158, 10);
    display: flex;
    justify-content: center;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapertag.com/wallpaper/full/a/3/c/139761-yellow-backgrounds-1920x1080-high-resolution.jpg');
    background-size: cover;
    opacity: 0.5; 
    z-index: -1; 
  }
  
  body {
    position: relative; 
  }

.footer {
    width: 100%;
    padding: 1rem;
    background-color: #f1ac16;
    display: flex;
    justify-content: space-around;
}
footer img {
    width: 50px;
    height: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #242457;
    color: white;
    padding: 3rem;
}

.navbar{
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style-type: none;
    display: flex; /* This will align .nav-item elements in a row */
    padding: 0; /* Resets default padding */
}

.nav-item {
    padding: 5px; /* Adjust padding as needed */
}

.image-container{
    height: 360px;
    width: 600px;
    /* background-color: #505FF9; */
    margin: 2rem;
    color: black;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    
}

.header {
    width: 100%;
    text-align: center;
}

.top-bar {
    background-color: #f1ac16; 
    color: black;
    padding: 20px 0; /* 20px top and bottom, 0 left and right */
}

.bottom-bar {
    background-color: rgb(238, 158, 10); 
    color: black;
    padding: 10px 0; /* 10px top and bottom, 0 left and right */
}

.bio-image{
    height: 360px
    width 600px;
}